html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/* 以下追記したもの */
.main {
  display: "flex";
}
nav {
  height: 7vh;
}
footer {
  height: 7vh;
}
.container {
  height: 100%;
  width: 100%;
}
.row {
  margin: 0;
}
.side-area {
  position: "fixed";
  height: calc(86vh);
  scroll-behavior: "auto";
  overflow: "auto";
}
.message-area {
  height: calc(76vh - 2em - 10px);
  scroll-behavior: "auto";
  overflow: "auto";
}
.text-area {
  margin-top: 2em;
  height: 10vh;
  border-top: 1px solid purple;
}
.logo {
  margin-left: 1em;
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}
.user {
  display: flex;
  align-items: center;
}
.user-avatar {
  margin: 1em;
  display: inline-block;
}
.user-name {
  display: inline-block;
}
textarea.materialize-textarea {
  font-size: 1.5em;
}
.btn {
  margin-top: 1em;
  border-radius: 0.3em;
}
.white-text {
  font-size: 1.5em;
}
.black-text {
  font-size: 1.5em;
}
.btn-floating {
  margin-left: 2em;
}
.channel-list {
  margin-top: 2em;
  width: fit-content;
}
.channel-name {
  padding: 0.5em;
}
.user-change {
  margin-top: 1.5em;
}
.copy-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
