
/* 以下追記したもの */


.message-container {
  display: flex;
  align-items: center;
  margin: 1rem;
}
.e-message {
  display: inline-block;
}
.e-image {
  display: inline-block;
}
.e-time {
  display: inline-block;
  margin-left: 1rem;
}
textarea.materialize-textarea {
  font-size: 1.2rem;
}
.input-field {
  margin-top: 2rem;
}


